<%- include ('../general/header') %>

<div id="myApp" class="container py-3">
  <%- include ('navbar') -%>
  <link rel="stylesheet" href="/assets/schedule/index.css">
  <main>
    <div class="row">
      <div class="col-md-3 mb-3">
        <div id="leftPanel">
          <div class="form-floating mb-3">
            <input @input="searchChange" type="email" v-model="scheduleSearch" class="form-control" id="scheduleSearch" placeholder="스케줄 검색">
            <label for="scheduleSearch">스케줄 검색</label>
          </div>
          <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" id="scrollposition">
            <div class="list-group list-group-flush border-bottom scrollarea">
              <a v-for="(schedule, index) in showSchedules" href="#" class="list-group-item list-group-item-action py-3 lh-sm" @click.stop="addSchedule(index)" @mouseenter="scheduleMouseOver(index)" @mouseleave="scheduleMouseLeave(index)">
                <div class="mb-1 fw-bold">{{ schedule.title }}</div>
                <div class="mb-1 small">{{ convertDateToString(schedule) }}</div>
                <div class="mb-1 small">{{ schedule.description }}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 mb-3">
        <div id="rightPanel">
          <h5 class="mb-3">시간표</h5>
          <div id="scheduleSaver">
            <div v-for="(schedule, index) in assignSchedules" class="hoverSchedule" :style="getHoverStyles(schedule, index)" @click="delSchedule(index)">
              <a href="#" class="fill-div">{{ schedule.title }}</a>
            </div>
          </div>
          <table>
            <tr v-for="timeIndex in 17">
              <td v-for="dayIndex in 8" class="tableCell" :key="dayIndex" >
                  {{ getTableValue(timeIndex, dayIndex) }}
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </main>

  <div class="modal fade" id="addScheduleFailedModal" tabindex="-1" aria-labelledby="addScheduleFailedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addScheduleFailedModalLabel">알림</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            스케줄 추가를 실패했습니다.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <h6>안녕하세요, {{ userName }}. </h6>
  </footer>
</div>

<%- include ('../general/script') %>
<script src="/assets/schedule/index.js"></script>
<%- include ('../general/footer') %>