<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none" :class="navbarHighlight('/')">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="" viewBox="0 0 16 16">
          <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
        </svg>
        <span class="fs-4">&nbsp;&nbsp;타임테이블</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" :class="navbarHighlight('/schedule-manage')" href="/schedule-manage">스케줄 관리</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" :class="navbarHighlight('/user-manage')" href="/user-manage">유저 정보 관리</a>
        <a class="py-2 link-body-emphasis text-decoration-none" href="#" @click.stop="logout">로그아웃</a>
      </nav>
    </div>
</header>